<h1>Mastercard Mobile App</h1>
<p>Esta aplicacion sirve de plataforma para la aplicaciones Moviles de Blackberry y iPhone <b>Beneficios Mastercard</b></p>
<p>Proporciona mediante una API RESTful metodos JSON que son el soporte de data de las dichas aplicaciones moviles, ademas de servir como punto de entrada de datos</p>
<p>Esta aplicacion esta montada sobre las versiones de <b>Ruby <%= RUBY_VERSION %> y de Ruby on Rails: <%= Rails::VERSION::STRING %></b></p>
<a href="/MastercardBeneficios.jad">La app pa BB</a>
