<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag("mastercardlogo.png", :class=>"mtc_logo") %>
      <a class="brand" href="/">Mastercard Backend</a>
    </div>
  </div>
</div>
