<div id="sidebar" class="span2">
   <ul class="nav nav-list">
     <li>
      <%= link_to "Beneficios", benefits_path %>
      </li>
      <li>
      <%= link_to "Negocios", businesses_path %>
     </li>
      <li>
      <%= link_to "Categorias", categories_path %>
     </li>
      <li>
      <%= link_to "Tipos de beneficios", benefit_types_path %>
     </li>
   </ul>
</div>
